@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: auto;
}
::selection {
    display: none;
}
.inactive {
    pointer-events: none;
}
body {
    background-color:rgb(244,91,104);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
  width: 60vw;
  font-size: 2em;
  text-align: center;
  text-shadow: rgba(47,198,240, 90) 0 0 5vw;
  padding: 10px;
}
.container{
    background-color: rgb(244,247,253);
    color: black;
    width: 500px;
}
.datebox{
    font-size: 1.5em;
    color:rgb(244,91,104);
    padding: 10px;
}
.addTaskBox{
    padding:10px;
}
.allCompletedBox{
    background-color: aqua;
    padding: 10px;
    display: none;
}
.pendingTaskBox{
    padding: 10px;
    border: 1px dotted darkolivegreen;
    display: block;
}
.pendingItem{
    background-color: rgb(225,232,246);
    margin-top: 5px;
    height: 2em;
    padding: .5em;
}


.completedTaskBox{
    padding: 10px;
    border: 1px dotted darkolivegreen;
    display: block;
}
.completedItem{
    background-color: white;
    margin-top: 5px;
    height: 2em;
    padding: .5em;
}
.showHideCompleteBtn{
    height: 2em;
    width: 10em;
}
.clearAllBtn{
    height: 2em;
    width: 10em;
}
.delete{
    height: 1em;
    opacity: 0;
    transition: opacity 0.5s;
    transition-timing-function: ease-in;
}
.pendingItem:hover .delete{
    height: 1em;
    opacity: 1;
}

.completedItem:hover .delete{
    height: 1em;
    opacity: 1;
}
.delItem {
    float: right;
}

